
.memory-pages {
    display: flex;
    flex-wrap: wrap;
}

.memory-cell-container {
    width: calc(1/6*100%);
}

.memory-cell {
    margin: 4px;
    padding: 4px;
    background-color: #202020;
    border-radius: 6px;
}

.memory-header {
    display: flex;
    font-size: 11px;
}

.memory-value {
    font-size: 14px;
    position: relative;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
}