.memory-pages {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 3;
}

.memory-title {
    font-size: 20px;
    font-weight: 600;
}

.page-browser {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    > a > a { /* page count */
        font-size: 13px;
    }
}

.memory-table {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.table-cell-container.memory {
    width: calc(1/8*100%);
}