.register-display {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 2;
}

.register-title {
    font-size: 20px;
    font-weight: 600;
}

.register-options {
    font-size: 14px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.register-table {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.table-cell-container.register {
    width: calc(1/6*100%);
}

.cell-pc {
    width: calc(1/3*100%) !important;
}